// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::root{
    --title-color-product: #00239c;
}
.card-img{
    height: 180px;
    width: 180px;
    object-fit: contain;
}
.card-title{
    color: #00239c;
    margin: 0;
    font-size: 16px;
}
.card-description{
    color: #666;
    font-size: 14px;
}
.card-footer{
    background: none;
    padding-top: 0;
    margin: 0;
}
.btn-yellow{
    background-color: #fc0;
}
.card-ofert{
    position: absolute;
    background-color: rgba(182, 132, 132, 0.4);
    font-size: 15px;
    border-radius: 5px;
}
.old-price{
    text-decoration: line-through;
    display: block;
    font-size: 14px;
}
.card:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0, .4);
}
/*HOME*/
.bg-newsletter{
    background-color: #f0f0f0;
    border-radius: 90px;
}
/**FOOTER*/
.f-title-primary{
    color: #f3ca00;
    font-weight: 500;
    font-size: 20px;
}
.link{
    color: #f8f8f8;
    font-size: 15px;
}

.group-link{
    list-style: none;
    padding: 0;
}

/*Paypal logo*/
.logo-paypal{
    height: 180px;
}

.error{
    font-size: 13px;
    color: rgb(253, 16, 16);
}

/*Style cart*/
.cart{
    height: 55%;
}
/*Show product style*/
@media (min-width: 770px) {
    .product-details{
        border-left: 1px solid rgba(102, 102, 102, 0.397);
    }
}
.product-item-img{
    width: 70%;
    object-fit: cover;
}
.product-item-title{
    color: #00239c;
    font-size: 26px;
    font-weight: 600;
}
.product-item-detail{
    font-size: 24px;
}
.product-item-old-price{
    text-decoration: line-through;
    color: #ee1717;
    font-size: 18px;
}
.product-item-price{
    color: #77c05b;
    font-size: 22px;
}
/*End Show intem style*/